.info {
  min-height: 1090px / 1440px * 100vw;
  background: url('../images/moon2.png') no-repeat center;
  background-size: contain;
  margin-bottom: -490px / 1440px * 100vw;;
}

.info__follow {
  display: inline-block;
  width: 49.7%;
  vertical-align: top;
}

.info__contact {
  display: inline-block;
  width: 49.7%;
  vertical-align: top;

}

.info__follow-title {
  position: relative;
  margin-top: 375px / 1440px * 100vw;

  text-align: center;
  font-family: GillSans-SemiBold;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 3.6px;
  color: #111133;
  text-transform: uppercase;
}

.info__contact-title {
   position: relative;
  margin-top: 375px / 1440px * 100vw;

  text-align: center;
  font-family: GillSans-SemiBold;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 3.6px;
  color: #111133;
  text-transform: uppercase;
}

.info__icon {
  display: block;
  width: 106px;
  height: 106px;

  border-radius: 50%;
  background-color: #111133;
}

.info__follow-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 7px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff7ae;
}

.info__contact-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 7px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff7ae;
}

.info-icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 87px;

  max-width: 460px;
}

.info__contact-btn {
  display: block;
  margin: 0 auto;
  max-width: 284px;
  width: 100%;
  min-height: 106px;
  border-radius: 100px;
  background-color: #111133;
  padding-top: 32px;
  margin-top: 87px;


  font-family: Montserrat-Medium;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}

.footer {
  width: 100%;
  height: 645px / 1440px * 100vw;
  background: url('../images/footer.png') no-repeat center;
  background-size: contain;
}

@media (max-width: 1690px) {
  .info {
    margin-bottom: -340px / 1440px * 100vw;;
  }
}
