doctype html
head
  title Astronaut
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")
  link(rel="stylesheet" href="stylesheets/app.css")
body
  .header
    .stars-1
    .stars-2
    .mission
      .mission__title
        .mission__title-text
          | Mission
      .mission__desk
        | See, as a content development and production company, we don’t cater to specific mediums first.
    .media
      | Media Landscapes Change. Compelling Storytelling does not.
    .story
      | Story is at our core. It doesn’t matter if it’s for film, television, or social media – If a filmmaker wants to shatter boundaries with a massive-scale VR project, great! But, where’s the story?
    .moon
      .moon-img
  .map
    .container
      .container__desc
        | Young adults are as complex as any other demographic, and demand content that addresses those complexities.  Authenticity is the destination; real-world challenges are the fuels we use to get there.
      .blurring-container
        .blurring
          | blurring
        .lines
          .lines-text
            | the Lines
      .demographic
        | Just like our youthful demographic, our content refuses to be confined.
    .map__bottom-text
      | Any medium, any platform, any request.
      br
      | Our use of social media ignores the distinction between narrative, marketing, and branded content. We use social platforms as creative incubators, encouraging expansion and experimentation.
    .okey
      .okey__desc
        | Media landscapes are changing.
      .okey__title
        | that’s okay.
    .step
      | We’re always one step ahead.
    .info
      .info__follow
        .info__follow-title
          | Follow
        .info-icons
          a(href="#").info__icon.info__icon-1
            .icon-icon.icon-icon-1
          a(href="#").info__icon.info__icon-2
            .icon-icon.icon-icon-2
          a(href="#").info__icon.info__icon-3
            .icon-icon.icon-icon-3
      .info__contact
        .info__contact-title
          | Contact
        a(href="#").info__contact-btn
          | EMAIL US
  .footer
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
